{% extends "base.html" %}
 
{% block mainbody %}
    <div class="row-fluid">
        <div id="chooseform">
            <div style="width: 250px; height:20px;" id="div1">
                <form>
                    <select id="fields" name="fields" class="form-control">
                        <option >--- 请选择生产域 ---</option>
                        {% for field in fields %}
                            <option>{{ field }}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
            <div style="width: 250px; height:20px;" id="div2">
                <form>
                    <select id="clusters" name="clusters" class="selector2 form-control">
                        <option>--- 请选择集群约束 ---</option>
                    </select>
                </form>
            </div>
            <div style="width: 250px; height:20px;" id="div3">
                <input id="search_info" name="search_info" class="selector3 form-control" placeholder="搜索">
            </div>
            <br>
            <br>
        </div>
        <p>选中<span id="numofselect">0</span>个<a href='#' onclick="clearlogs()">action</a></p>
        <div id="table">
            <table class="table table-bordered table-striped" id="tb">
                <thead id="a1">
                    <tr>
                        <td><a href="#" onclick="checkall()">全选</a><span>||</span><a href="#" onclick="reverse()">反选</a></td>
                        <td><b>生产域</b></td>
                        <td><b>集群约束</b></td>
                        <td><b>主机名</b></td>
                        <td><b>主机IP</b></td>
                        <td><b>组件名</b></td>
                        <td><b>端口</b></td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
        <div id="main" style="width: 800px; height:400px;"></div>
    <div class="row-fluid">

    </div>
    <div>
    <script>
    $(document).ready(function(){
      $("#fields").change(function(){
        var field = $("#fields").val();
        $.get("/get_cluster", {'field': field}, function (ret) {
            var obj = document.getElementById("clusters");
            obj.options.length = 1;
            var clusters = ret.clusters;
            for(var i = 0; i < clusters.length + 1; i++){
                var option = $("<option>").val(clusters[i]).text(clusters[i]);
                $(".selector2").append(option)
            }
            $("#numofselect").html(0)
        })
      });
    });
    </script>
    <script>
    $(document).ready(function(){
      $("#fields").change(function(){
        var cluster = $("#clusters").val();
        var field = $("#fields").val();
        $.get("/get_host_info", {'cluster': cluster, "field": field}, function (ret) {
            $('table tbody').empty();
            var host_info = ret.host_info;
            for(var i = 0; i < host_info.length + 1; i++) {
                var item = "<tr>" +
                    "<td><input type='checkbox' class='select' onclick='changenum()'></td>" +
                    "<td>" + host_info[i]["field"] + "</td>" +
                    "<td>" + host_info[i]["cluster"] + "</td>" +
                    "<td>" + host_info[i]["name"] + "</td>" +
                    "<td>" + host_info[i]["ip"] + "</td>" +
                    "<td>" + host_info[i]["comp_name"] + "</td>" +
                    "<td>" + host_info[i]["comp_port"] + "</td>" +
                    "</tr>";
                $(".table").append(item)
            }
            $("#numofselect").html(0)
        });
      });
    });
    </script>

    <script>
    $(document).ready(function(){
      $("#clusters").change(function(){
        var cluster = $("#clusters").val();
        var field = $("#fields").val();
        $.get("/get_host_info", {'cluster': cluster, "field": field}, function (ret) {
            $('table tbody').empty();
            var host_info = ret.host_info;
            for(var i = 0; i < host_info.length + 1; i++) {
                var item = "<tr>" +
                    "<td><input type='checkbox' class='select' onclick='changenum()'></td>" +
                    "<td>" + host_info[i]["field"] + "</td>" +
                    "<td>" + host_info[i]["cluster"] + "</td>" +
                    "<td>" + host_info[i]["name"] + "</td>" +
                    "<td>" + host_info[i]["ip"] + "</td>" +
                    "<td>" + host_info[i]["comp_name"] + "</td>" +
                    "<td>" + host_info[i]["comp_port"] + "</td>" +
                    "</tr>";
                $(".table").append(item)
            }
            $("#numofselect").html(0)
        });
      });
    });
    </script>
    <script>
        $(document).ready(function () {
            $("#search_info").change(function () {

                var search_info = $("#search_info").val();
                var cluster = $("#clusters").val();
                var field = $("#fields").val();
                $.get("/search_host_info", {"search_info": search_info, "cluster": cluster, "field": field}, function (ret) {
                    $('table tbody').empty();
                    var host_info = ret.host_info;
                    for (var i = 0; i < host_info.length + 1; i++) {
                        var item = "<tr>" +
                            "<td><input type='checkbox' class='select' onclick='changenum()'></td>" +
                            "<td>" + host_info[i]["field"] + "</td>" +
                            "<td>" + host_info[i]["cluster"] + "</td>" +
                            "<td>" + host_info[i]["name"] + "</td>" +
                            "<td>" + host_info[i]["ip"] + "</td>" +
                            "<td>" + host_info[i]["comp_name"] + "</td>" +
                            "<td>" + host_info[i]["comp_port"] + "</td>" +
                            "</tr>";
                        $(".table").append(item)
                    }
                    $("#numofselect").html(0)
                });
            })
        })
    </script>

<script>
function delfile(obj){
    var r=confirm("Press a button!");
    if (r==true)
    {
        ip=$('#showlogip').html()
        filename=$(obj).parents('tr').find('.logfile').html()
        $.get("/del_host_logfile", {"hostip": hostip,"filename":filename}, function (ret) {
            var delres = ret.delres
            console.log(delres)
            console.log(filename)
        });
    }
}

function empty(obj){
    var r=confirm("Press a button!");
    if (r==true)
    {
        ip=$('#showlogip').html()
        filename=$(obj).parents('tr').find('.logfile').html()
        $.get("/empty_host_logfile", {"hostip": hostip,"filename":filename}, function (ret) {
            var empres = ret.empres
            console.log(empres)
            console.log(filename)
        });
    }
}

function showhostlogs(hostip){
    context=
    '<table class="table table-bordered table-striped">'+
    '<thead>'+
        '<tr>'+
            '<td><b>文件大小</b></td>'+
            '<td><b>文件位置</b></td>'+
            '<td>操作</td>'+
        '</tr>'+
    '</thead>'+
    '<tbody>'

    $.get("/search_host_logfile", {"hostip": hostip}, function (ret) {
        $("#showlogsbody").empty();
        var file_infos = ret.file_infos;

        console.log(file_infos)


        for (var i = 0; i < file_infos.length ; i++) {
            context += "<tr>" +
                "<td>" + file_infos[i]["size"] + "</td>" +
                "<td class='logfile'>" + file_infos[i]["filename"] + "</td>" +
                "<td><button onclick="+'"'+"delfile(this)"+'"'+">删除</button><button onclick="+'"'+"empty(this)"+'"'+">写空</button></td>"
                "</tr>";
        }

        context+="</tbody>"
        context+="</table>"
        $("#showlogip").text(hostip);
        $("#showlogsbody").html(context);
        $('#showlogsmodal').modal('show');
    });
}

function clearlogs(obj) {
    var modallabel='清理主机文件';
    var modalbody='table'
    var ho=$(".select");
    numofselect=0
    hostips=new Array();
    hostnames=new Array();
    for(var i=0;i<ho.length;i++){
        if (ho[i].checked==true){
            hostip=$(ho[i].parentNode.parentNode.children[4]).html()
            hostips[numofselect]=hostip
            hostname=$(ho[i].parentNode.parentNode.children[3]).html()
            hostnames[numofselect]=hostname
            numofselect=numofselect+1
        }
    }
    context=
    '<table class="table table-bordered table-striped">'+
    '<thead>'+
        '<tr>'+
            '<td><b>主机名</b></td>'+
            '<td><b>主机IP</b></td>'+
            '<td>清理主机日志文件</td>'+
        '</tr>'+
    '</thead>'+
    '<tbody>'
    for(var i=0;i<hostips.length;i++){
        context+=
        '<tr>'+
            '<td>'+hostnames[i]+'</td>'+
            '<td>'+hostips[i]+'</td>'+
            "<td><a href='#' onclick='showhostlogs("+'"'+hostips[i]+'"'+")'>show logs</a></td>"+
        '</tr>'
    }
    // console.log(context)
    context+=
        '</tbody>'+
    '</table>'
    modalbody=context
    $("#clearlogslabel").text(modallabel);
    $("#clearlogsbody").html(modalbody);
    $('#clearlogsmodal').modal('show');
}
function changenum(){
    var ho=$(".select");
    numofselect=0
    for(var i=0;i<ho.length;i++){
        if (ho[i].checked==true){
            numofselect=numofselect+1
        }
    }
    $("#numofselect").html(numofselect)
}
function checkall(){
    var ho=$(".select");
    numofselect=0
    for(var i=0;i<ho.length;i++){
        ho[i].checked=true;
        numofselect=numofselect+1
    }
    $("#numofselect").html(numofselect)
}
function reverse(){
    var ho=$(".select");
    numofselect=0
    for(var i=0;i<ho.length;i++){
        ho[i].checked=!ho[i].checked;
        if (ho[i].checked==true){
            numofselect=numofselect+1
        }
    }
    $("#numofselect").html(numofselect)
}
</script>
</div>
{% endblock %}