{% extends "base.html" %}
 
{% block mainbody %}
    <div class="row-fluid">
        <div id="chooseform">
                 <div style="width: 250px; height:20px;" id="div1">
                    <form>
                        <select id="level" name="warning-level" class="form-control">
                            <option>--- 请选择告警级别 ---</option>
                        {% for level in levels %}
                            <option>{{ level.0 }}</option>
                        {% endfor %}
                        </select>
                    </form>
                </div>
                <div style="width: 250px; height:20px;" id="div2">
                    <form>
                        <select id="ip" name="ip" class="selector2 form-control">
                            <option>--- 请选择主机IP ---</option>
                        </select>
                    </form>
                </div>
              <br>
              <br>
              <hr>
              </div>
        <div id="main" style="width: 800px; height:400px;"></div>
    </div>
    <div class="row-fluid">

                <div id="table">
                    <table class="table table-bordered table-striped" id="tb">
                        <thead id="a1"></thead>
                        <tbody></tbody>
                    </table>
                </div>

          </div>
    <div>
    <script>
    $(document).ready(function(){
      $("#level").change(function(){
        var level = $("#level").val();
        $.get("/get_ip", {'level': level}, function (ret) {
            var obj = document.getElementById("ip");
            obj.options.length = 0;
            var ip_pool = ret.ip;
            for(var i = 1; i < ip_pool.length + 1; i++){
                var option = $("<option>").val(ip_pool[i]).text(ip_pool[i]);
                $(".selector2").append(option)
            }
        })
      });
    });
    </script>
    <script>
    $(document).ready(function(){
      $("#ip").change(function(){
        var level = $("#level").val();
        var ip = $("#ip").val();
        $.get("/get_rest_information", {'level': level, 'ip': ip}, function (ret) {
            $('table tbody').empty();
            $('table thead').empty();
            var rest_information_pool = ret.information;
            var head =  "<td>" + "<b>"+ rest_information_pool[0][0]+ "</b>" + "</td>" +
                        "<td>" + "<b>"+ rest_information_pool[0][1]+ "</b>" + "</td>" +
                        "<td>" + "<b>"+ rest_information_pool[0][2]+ "</b>" + "</td>" +
                        "<td>" + "<b>"+ rest_information_pool[0][3]+ "</b>" + "</td>";
            $('table thead').append(head);
            for(var i = 1; i < rest_information_pool.length + 1; i++) {
                var item = "<tr>" +
                    "<td>" + rest_information_pool[i][0] + "</td>" +
                    "<td>" + rest_information_pool[i][1] + "</td>" +
                    "<td>" + rest_information_pool[i][2] + "</td>" +
                    "<td>" + rest_information_pool[i][3] + "</td>" +
                    "</tr>";
                $(".table").append(item)
            }
        });
        $.get("/get_service_time", {'level': level, 'ip': ip}, function (ret){
            var service_name = ret.service_name;
            var service_time = ret.service_time;
            var ddd = ret.d
            $('#ab').text(service_name);
            $('#ac').text(service_time);

            var myChart = echarts.init(document.getElementById('main'));

            var dataAxis = service_name;
            var data = service_time;
            var yMax = Math.max(service_time);
            var dataShadow = [];

            for (var i = 0; i < data.length; i++) {
                dataShadow.push(yMax);
            }

        option_pie = {
            title : {
                text: '告警详情',
                subtext: '',
                x:'center'
            },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient : 'vertical',
                x : 'left',
                data: dataAxis
            },
            toolbox: {
                show : true,
                feature : {
                    mark : {show: true},
                    dataView : {show: true, readOnly: false},
                    magicType : {
                        show: true,
                        type: ['pie', 'funnel'],
                        option: {
                            funnel: {
                                x: '25%',
                                width: '50%',
                                funnelAlign: 'left',
                                max: 1548
                            }
                        }
                    },
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },
            calculable : true,
            series : [
                {
                    name:'告警详情',
                    type:'pie',
                    radius : '55%',
                    center: ['50%', '60%'],
                    data: ddd
                }
            ]
        };


            myChart.setOption(option_pie);

            var zoomSize = 6;
            myChart.on('click', function (params) {
                console.log(dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)]);
                myChart.dispatchAction({
                    type: 'dataZoom',
                    startValue: dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)],
                    endValue: dataAxis[Math.min(params.dataIndex + zoomSize / 2, data.length - 1)]
                });
            });
        })
      });
    });
    </script>
</div>
{% endblock %}