<div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">告警</li>
              <li><a href="/">告警历史信息统计</a></li>
              <li><a href="/cmdb/tag">标签 - 主机信息</a></li>
              <li><a href="#">DCOS集群</a></li>
<!--              <li><a href="/">告警历史信息统计</a></li>
              <li><a href="/cmdb/tag">标签 - 主机信息</a></li>
              <li><a href="/dcos_cluster">DCOS集群</a></li>
              -->
              <li><a href="/cluster_resource">集群剩余资源</a></li>
              <li><a href="/dcos_yarn">融合集群资源情况</a></li>
			  <li><a href="#"></a></li>
           </ul>
</div><!--/.well -->